@page "/employees"
@inject MyFirstBlazorApp.Data.IEmployeesService EmployeesService;

<h3>Employee</h3>
<br />

<a href="temployees/0">Add Employee</a>

List<Employees> employeeList = new List<Employees>();
<table class="table">
    <thead>
    <tr>
        <td>ID</td>
        <td>Name</td>
    </tr>
    </thead>
    <tbody>
        @foreach(var emp in Employees)
        {
            <tr>
                <td>@emp.Id</td>
                <td>@emp.Name</td>
                <td>
                    <a href="editemployees/@emp.Id">Edit</a>
                </td>
            </tr>
        }
        
    </tbody>

</table>
